ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-left: 0!important;
}

:root{
  --height100: 100vh;
}

input:-internal-autofill-selected{
  background: none;
}

.logo{
  width: 40px;
}

html{
  scroll-behavior: smooth;
  user-select: none;
}

div{
  font-family: 'Paytone One', sans-serif;
}

a{
  text-decoration: none!important;
}

.right-10{
  right: 5px
}

input[type="submit"]:active{
  transform: scale(.95);
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
}

input:-internal-autofill-selected{
  color: #3879e2!important;
}

input[type="text"], input[type="number"]{
  border: none;
  background: linear-gradient(180deg, #FFFFFF 0%, #E3E3E3 100%);
  border-radius: 20px;

  padding: 16px;
  padding-left: 40px;
  margin: 20px;
  outline: none;
  width: 100%;
  font-family: 'Paytone One', sans-serif;
  color: #3879e2;
  font-size: 22px;
  text-transform: uppercase;
}

input[type="text"]::placeholder {
  color: #7898C8;
}

.step{
  padding: 20px;
  margin: 30px;
}

.titre{
  background: linear-gradient(to right, #00c0ff 0%, #7932e0 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-jeu{
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Paytone One', sans-serif;
  font-size: 20px;
  justify-content: flex-start;
  color: white;
}

.desc-jeu > div{
  padding: 40px;
}

.btn-creLobby{
  width: 100%!important;
  color: white;
  outline: none;
  margin-top: 30px!important;
  font-family: 'Paytone One', sans-serif;
  border: none;
}

.ctn-skin{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lettre{
  text-align: center;
  font-size: 30px;
  color: white;
  width: 190px;
  background-image: linear-gradient(rgb(139, 236, 255) 0%, rgb(146, 0, 255) 168.42%);
  box-shadow: 0px 0 9px 0px rgba(0, 0, 0, 0.761);
  padding: 12px;
  margin: auto;
}

.back-tuto{
  background-color: #00000077;
  backdrop-filter: blur(12px);
  position: fixed;
  z-index: 100;
  width: 100%;
  font-family: 'Paytone One', sans-serif;
  height: 100%;
}

.ctn-tuto{
  background: linear-gradient(to bottom, #8BECFF 0%, #9200FF 143%);
  width: 900px;
  color: white;
  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.copiedMessage{
  font-size: 16px!important;
  transform: translate(-50%, -50%)!important;
  left: 24%!important;
  width: 160px!important;
  top: 190%!important;
  z-index: 10000;
  background: rgb(36 224 132 / 89%)!important;
  animation-duration: .4s;
  animation-name: apparition;
}

.lockGroupe{
  box-shadow: 0px 0 4px 0px #000000;
  transform: translate(-50%, -50%);
  font-size: 14px;
  z-index: 10;
  right: 94px;
  left: auto;
  top: 100px;
  transition: all .4s;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.guestSend{
  padding-left: 20px!important;
  padding-right: 20px!important;
  padding-bottom: 10px!important;
  padding-top: 10px!important;
  right: 100px;
  top: 14px;
  font-size: 16px!important;
}

.bg-tuto-sde{
  color: #ffffff;
  font-family: sans-serif;
  font-weight: 700;
  background: none!important;
}

.ctn-tutorial{
  height: calc(100% - 54px);
}

.video-games{
  width: 70%;
  height: 350px;
  object-fit: fill;
}

.title-tuto{
  background: linear-gradient(to bottom, #8BECFF 0%, #b153f8 70.42%, #8BECFF 0%, #b153f8 80.42%);
  background-size: 100% 200%;
  text-align: center;
  padding: 12px;
  font-size: 20px;
}

.ctn-player{
  width: 700px;
  height: 300px;
}

.ctn-player > div{
  padding: 0!important;
  width: 100%;
  height: 100%;
}

.ctn-player > div > video{
  width: 100%;
  height: 100%;
}

.ctn-player > div > div{
  display: none;
}

.ctn-player > div > button{
  display: none;
}

.bg-desc-tuto{
  background-color: #ffffff29;
  border-radius: 10px;
  font-size: 20px;
}

.ctn-input{
  margin-bottom: 20px;
}

.ctn-input > input{
  text-transform: none;
  padding: 10px;
  padding-left: 40px;
  background-color: #ffffffc7;
}

.calcul{
  background-color: #204ddf;
}

.ctn-input > label{
  text-transform: uppercase;
  margin-bottom: 5px;
  color: white;
}

.ptit-bac{
  font-family: 'Paytone One', sans-serif;
  width: 85%;
  margin: auto;
  color: #3879e2;
}

.ctn-wheel > div{
  position: absolute;
}

.partSkin:nth-child(1){
  top: -50px;
  left: -56px;
}

.partSkin:nth-child(2){
  top: -50px;
  left: 16px;
}

.partSkin:nth-child(3){
  top: -10px;
  left: -110px;
}

.partSkin:nth-child(4){
  top: -10px;
  left: 75px;
}

.partSkin:nth-child(5){
  top: 50px;
  left: 95px;
}

.partSkin:nth-child(6){
  top: 50px;
  left: -130px;
}

.partSkin:nth-child(7){
  top: 110px;
  left: -110px;
}

.partSkin:nth-child(8){
  top: 110px;
  left: 75px;
}

.partSkin:nth-child(9){
  top: 158px;
  left: -51px;
}

.partSkin:nth-child(10){
  top: 158px;
  left: 16px;
}

.partSkin > img{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.network{
  font-size: 40px;
  width: 250px;
}

.network > a > svg{
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

.network > a > svg:hover{
  color: #000000!important;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 50px;
  background: none;
	height: 50px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.partSkin > div{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: none;
  position: absolute;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/*Bubble*/
.Bubble-first{
  background: radial-gradient(153.43% 153.43% at 49.74% 30.79%, #C2F5FF 0%, #97EEFF 21.48%, #4677ED 100%);
  transform: rotate(-31.69deg);
  border-radius: 50%;
}

.Bubble-second{
  border-radius: 50%;
  background: radial-gradient(88.26% 88.26% at 64.77% 26.07%, #F0E7FF 0%, #DCC7F2 33.46%, #891CDB 100%);
  transform: rotate(-31.69deg);
}

.Bubble-three{
  background: radial-gradient(54.59% 54.59% at 27.67% 23.32%, #86EBFF 0%, #0CD4FC 32.19%, #8620DC 100%);
  transform: rotate(34.34deg);
  border-radius: 50%;
}

.Bubble-four{
  background: radial-gradient(65.55% 65.55% at 36.95% 26.35%, #88EBFF 1.69%, #0CD4FC 34.5%, #3E84EF 100%);
  transform: rotate(-7.98deg);
  border-radius: 50%;
}

.Bubble-five{
  background: radial-gradient(69.14% 69.14% at 27.85% 22.76%, #76E8FF 1.04%, #0CD4FC 34.38%, #3E84EF 76.04%, #891CDB 100%);
  border-radius: 50%;
}

@keyframes floating{
  from{
    margin-top: -20px;
  }to{
    margin-top: 20px
  }
}

@keyframes floatingBig{
  from{
    margin-top: -40px;
  }to{
    margin-top: 40px
  }
}

@keyframes floating2Big{
  from{
    margin-bottom: -35px;
  }to{
    margin-bottom: 35px
  }
}

@keyframes floating2{
  from{
    margin-bottom: -20px;
  }to{
    margin-bottom: 20px
  }
}

.cpt-Words{
  width: 50px;
  color: white;
  display: flex;
  border-radius: 50%;
  background: #1DE86E;
  height: 50px;
  font-family: 'Paytone One', sans-serif;
  align-items: center;
  justify-content: space-around;
}

.blueteam{
  background: #203bd340;
}

.hidebg{
  background: none!important;
}

.hidebg > div{
  padding: 0!important;
}

.moov-Circle{
  width: 100px;
  height: 100px;
}

.moov-Circle:hover{
  background-color: greenyellow!important;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.redteam{
  background: #d3205240;
}

.font-paytone{
  font-family: 'Paytone One', sans-serif;
}

.skin{
  padding: 35px;
  width: 400px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.coupe{
  margin-top: -405px;
  width: 435px;
}
.tete{
  width: 200px;
}
.yeux{
  width: 130px;
  margin-top: -120px;
}
.bouche{
  margin-top: -90px;
  width: 80px;
}

.ctn-creLobby > span{
  height: 92%;
  width: 3px;
  box-shadow: 0px 0 9px 0px #3879e2;
}

.ctn-creLobby{
  width: 1000px;
  background: rgba(255, 255, 255, 0.31);
  backdrop-filter: blur(15px);
  height: 700px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
}

.ctn-creLobby > form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  width: 50%;
  transform: scale(.8);
}

#root{
  min-height: 100vh;
  background: linear-gradient(296.31deg, #8B19DB 4.33%, #4677ED 40.01%, #CEDFF5 88.47%);
  background-attachment: fixed;
  display: flex;
}

li{
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.chrono{
  user-select: none;
}

.btn-suivant{
  font-family: 'Paytone One', sans-serif;
  color: white;
  width: 100%;
  text-align: center;
}

.list-score > li{
  border-bottom: solid #e3e2ff36 1px;
  display: flex;
  color: white;
  font-family: 'Paytone One';
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.apparition-game{
  animation-duration: 4s;
  animation-name: apparition;
}

.btn-random{
  color: white;
  font-size: 18px;
  font-family: 'Paytone One';
  padding-left: 20px;
  padding-right: 20px;
  background-color: #3879e2;
  cursor: pointer;
  user-select: none;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.btn-random:active{
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

.partSkin{
  padding: 10px;
  width: 40px;
  background: linear-gradient(181.02deg, #88EBFF -35.11%, #3E84EF 99.12%);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
  height: 40px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.partSkin:hover{
  background-color: white;
}

.partSkin > svg{
  font-size: 20px;
}

.partSkin:active{
  transform: scale(.8);
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
}

.nom-j{
  width: 140px;
  transition: all .4s;
  font-family: 'Paytone One';
  text-transform: uppercase;
  height: 80px;
  animation-duration: .5s;
  animation-name: apparition;
  color: white;
  font-family: 'Paytone One';
  margin: 10px;
  box-shadow: 0px 0 5px 0px #000000;
  background-color: #3199f2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}



.nom-j > img{
  height: 58px;
}

.nom-j > span{
  font-size: 16px;
  white-space:nowrap;
}

.ctn-aff-bac{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.pseudo-bac{
  width: 220px;
}

#data-bac{
  margin-top: 30px;
}

div[data-input="true"]{
  text-transform: uppercase;
}

input[type="checkbox"]{
  width: 40px;
  height: 40px;
}

.title-bac{
  font-size: 20px;
  background: white;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 0px 0 5px 0px #ffffff;
  padding-left: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ctn-leader{
  font-family: 'Paytone One';
  text-transform: uppercase;
}

.winner{
  width: 250px;
  padding: 20px;
  box-shadow: 0px 0 5px 0px #f7da02;
}

.simon-part{
  width: 200px;
  cursor: pointer;
  height: 200px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.ctn-simon{
  height: 420px;
  width: 440px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.rotate-1{
  margin-left: 10px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.simon-part > path{
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.Calque_1Actif{
  filter: drop-shadow(10px 10px 20px rgba(45, 232, 8, 0.7));
  -webkit-filter: drop-shadow(10px 10px 20px rgba(45, 232, 8, 0.7));
}

.Calque_1Actif > path{
  fill: rgba(45, 232, 8, 0.7)!important;
}

.Calque_2Actif{
  filter: drop-shadow(10px 10px 20px rgba(255, 46, 46, 0.7));
  -webkit-filter: drop-shadow(10px 10px 20px rgba(255, 46, 46, 0.7));
}

.Calque_2Actif > path{
  fill: rgba(255, 46, 46, 0.7)!important;
}

.Calque_3Actif{
  filter: drop-shadow(10px 10px 20px rgba(252, 255, 54, 0.7));
  -webkit-filter: drop-shadow(10px 10px 20px rgba(252, 255, 54, 0.7));
}

.Calque_3Actif > path{
  fill: rgba(252, 255, 54, 0.7)!important;
}

.Calque_4Actif{
  filter: drop-shadow(10px 10px 20px rgba(40, 178, 252, 0.7));
  -webkit-filter: drop-shadow(10px 10px 20px rgba(40, 178, 252, 0.7));
}

.Calque_4Actif > path{
  fill: rgba(40, 178, 252, 0.7)!important;
}

.rotate-2{
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.rotate-3{
  margin-left: 10px;
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.focus{
  background-color: rgb(0 0 0 / 46%)!important;
}

.nb-j{
  font-family: 'Paytone One';
  color: #7898C8;
  background: linear-gradient(
    180deg
    , #FFFFFF 0%, #E3E3E3 100%);
  padding-left: 10px;
  padding-right: 10px;
  right: 20px;
  top: 20px;
}

.fontAdd{
  font-family: 'Paytone One';
  text-transform: uppercase;
}

.third{
  background: rgb(181 111 5);
}

.item-list{
  background: #ffffff1a;
  font-family: 'Paytone One';
  text-transform: uppercase;
  padding: 10px;
}

.crown-rank-1{
  top: -60px;
  font-size: 50px;
}

.circle{
  background: #3879e2;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.winner-2{
  width: 200px;
  padding: 20px;
  padding: 20px;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.btn-start{
  background:   linear-gradient(to bottom,   #8BECFF 0%, #b153f8 80.42%,   #8BECFF 0%, #b153f8 80.42%);
  background-size: 100% 200%;
  border-radius: 20px;
  color:white;
  border: none;
  font-size: 22px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  margin: auto;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.btn-start:active{
  transform: scale(.97);
  -webkit-transform: scale(.97);
  -moz-transform: scale(.97);
  -ms-transform: scale(.97);
  -o-transform: scale(.97);
}

.btn-start:hover{
  background-position: bottom center;
}

.ctn-lobby{
  z-index: 1000;
  width: 1000px;
  height: 680px;
  font-family: 'Paytone One';
  font-size: 30px;
  background: rgba(255, 255, 255, 0.31);
  backdrop-filter: blur(15px);
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  text-transform: uppercase;
}

.nom-j[data-second = true]{
  opacity: 0.6;
}

.score-liste{
  position: absolute;
    right: 5px;
    background-color: #094bb7;
    width: 35px;
    height: 35px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: space-around;
}

.room-ctn{
  width: 80%;
  overflow: auto;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: flex-start;
  overflow-y: hidden;
  background-color: #ffffff82;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.room-ctn > div{
  display: flex;
  text-transform: uppercase;
  padding-top: 20px;
}

.room-ctn::-webkit-scrollbar-thumb {
  background-color: #01163841;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.room-ctn::-webkit-scrollbar {
  height: 8px;
}

.ctn-jeux::-webkit-scrollbar-thumb {
  background-color: #01163841;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.ctn-jeux::-webkit-scrollbar {
  width: 8px;
}

.crown{
  position: absolute;
  top: -32px;
}

.room-name{
  padding: 15px;
  text-transform: uppercase;
}

#infoBubble{
  right: 40px;
  top: 220px;
  cursor: pointer;
  filter: drop-shadow(10px 10px 28px #0000009e);
}

.ctninfoBubble:hover > .popinBuble{
  display: block!important;
}

.popinBuble{
  background: rgba(0, 0, 0, 0.638);
  z-index: 1000;
  text-transform: none;

  font-size: 20px;
}

.list-score::-webkit-scrollbar-thumb {
  background-color: #cedaee38;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.list-score::-webkit-scrollbar {
  width: 8px;
}

.ctn-score > div{
  height: 10%;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(180deg, #8BECFF 0%, #9200FF 168.42%);
  align-items: center;
}

.list-score{
  height: 90%;
  overflow: auto;
}à

.paires{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.ctn-autoClick{
  width: 700px;
}

.ctn-randomL{
  font-size: 25px;
  color: white;
}

.autoClick-btn{
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0 9px 0px #3879e2;
  background-color: #3879e2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.autoClick-btn:active{
  transform: scale(.9);
  -webkit-transform: scale(.9);
  -moz-transform: scale(.9);
  -ms-transform: scale(.9);
  -o-transform: scale(.9);
}

[type = search]{
  box-shadow: 0px 0 9px 0px #3879e2;
  padding: 8px;
  font-family: 'Paytone One', sans-serif;
  width: 400px;
  border-radius: 6px;
  margin: 10px;
  margin-top: 20px;
  font-size: 18px;
  color: white;
  border: none;
  transition: all .3s;
  background: none;
  outline: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

[type = search]:focus{
  box-shadow: 0px 0 10px 8px #3879e2;
}

.ctn-search-jeu{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: auto;
  margin-top: 15px;
  background-color: #ffffff1e;
}

.paire-card{
  display: flex;
  background-color: #3879e24f;
  box-shadow: 0px 0 9px 0px #3879e2;
  width: 150px;
  padding: 20px;
  height: 120px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  align-items: center;
  justify-content: space-around;
  font-size: 50px;
  transition: transform .5s;
  transform-style: preserve-3d;
  -webkit-transition: transform .5s;
  -moz-transition: transform .5s;
  -ms-transition: transform .5s;
  -o-transition: transform .5s;
}

.paire-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: center;
}

.paired{
  transform: rotateY(180deg)!important;
  -webkit-transform: rotateY(180deg)!important;
  -moz-transform: rotateY(180deg)!important;
  -ms-transform: rotateY(180deg)!important;
  -o-transform: rotateY(180deg)!important;
}

.card-celebrite{
  text-align: center;
  padding: 30px;
  background-color: #063580;
  border-radius: 10px;
  font-family: 'Paytone One', sans-serif;
  font-size: 25px;
  box-shadow: 0px 0 9px 0px #0b1931;
  width: 400px;
  text-transform: uppercase;
}

.label-celebrite{
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  font-size: 25px;
  width: 360px;
  margin: auto;
}

.card-celebrite-tab{
  background-color: #063580;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  width: 240px;
  font-size: 15px;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

.vote{
  font-size: 38px;
}

.checkVote{
  margin: 15px;
  margin-bottom: 28px;
}

.ctnvotesup{
  height: 100%;
}

.p-top180{
  margin-top: 80px;
}

.valide{
  background: #34d3ab!important;
  color: #ffffff!important;
}

.dead{
  filter: grayscale(1);
}

.lvl{
  font-family: 'Paytone One', sans-serif;
  font-size: 25px;
}

.restant{
  font-family: 'Paytone One', sans-serif;
  color: #34d3ab;
  right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  top: padd;
  top: 58px;
  padding: 10px;
}

.card-last-tab{
  background-color: white;
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  width: 240px;
  font-size: 15px;
  color: #063580;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
}

.card-game{
  width: 151px;
  height: 155px;
  transition: filter .3s;
  color: white;
  position: relative;
  background-repeat: no-repeat;
  display: flex;
  margin: 20px;
  box-shadow: 0px 0 9px 0px #6057e5;
  animation-duration: .5s;
  animation-name: apparition;
  -webkit-transition: filter .3s;
  -moz-transition: filter .3s;
  -ms-transition: filter .3s;
  -o-transition: filter .3s;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 11px;
  cursor: pointer;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  background-size: cover;
}

.info{
  right: 6px;
  top: 11px;
  font-size: 24px;
  color: #ffffff!important;
}

.desc-hover{
  background-color: #00000084;
  top: 0;
  right: 0;
  width: 400px;
  padding: 15px;
  font-size: 15px;
  text-transform: initial;
}

.popin-desc{
  display: none;
  background-color: #00000048;
  color: white;
  width: 400px;
  padding: 5px;
  font-size: 16px;
  text-align: left;
}

.card-game > .info:hover + .popin-desc{
  display: block;
}

.delay-toaster{
  height: 3px;
  width: 100%;
  left: 0;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-name: largeur;
}

.notif-toaster{
  background-image: linear-gradient(rgb(139, 236, 255) 0%, rgb(146, 0, 255) 168.42%);
  width: 200px;
  position: absolute!important;
  top: 27px;
  right: 36px;
  font-family: 'Paytone One', sans-serif;
  text-align: center;
  color:#ffffff;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-name: toaster;
  font-size: 18px;
  padding: 15px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pointer{
  font-size: 70px;
}

.cursor-pointer{
  cursor: pointer;
}

.popError{
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1000;
  color: white;
  text-align: center;
  background-color: #f53f3feb;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ctn-jeux{
  display: flex;
  width: 800px;
  height: 380px;
  overflow: auto;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.retireJ{
  transform: translate(-50%, -50%);
  font-size: 20px;
  display: flex;
  left: 82%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.card-select{
  filter: brightness(0.6);
}

.title{
  font-family: 'Paytone One', sans-serif;
  font-size: 50px;
}

.card-title{
  text-align: center;
  display: flex;
  font-family: 'Paytone One', sans-serif;
  height: 20%;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
}

.card-img{
  height: 80%;
  cursor: pointer;
}

.rotate{
  transform: rotateY(180deg)!important;
  -webkit-transform: rotateY(180deg)!important;
  -moz-transform: rotateY(180deg)!important;
  -ms-transform: rotateY(180deg)!important;
  -o-transform: rotateY(180deg)!important;
}

.paire-card-back{
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: space-around;
  backface-visibility: hidden;

}

.mini-game{
  background: rgba(255, 255, 255, 0.31);
  backdrop-filter: blur(30px);
  width: 1000px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.ctn-max-jeux{
  width: 1000px;
  height: 100%;
}

.list-score > li:not(:nth-child(1)){
  cursor: pointer;
}

.rank{
  width: 15%;
  font-size: 20px;
  text-align: center;
}

.profile{
  width: 65%;
  display: flex;
  align-items: center;
}

.profile > img{
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.points > div{
  padding: 10px;
  background-color: #7048e4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.points{
  width: 20%;
  text-align: center;
}

.auto-progress{
  width: 800px;
  height: 10px;
  background-color: aliceblue;
  position: relative;
  margin: auto;
  min-width: 0%;
  max-width: 100%;
}

.auto-progress > div{
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  transition: all .2s;
  width: 10px;
  background-color: #3879e2;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
}

.mini-games{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.ctn-autoC{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.displayRandomL{
  font-variant: all-small-caps;
  color: black;
  font-size: 88px;
  left: 50%;
  border-radius: 5px;
  width: 100px;
  position: absolute;
  height: 100px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  animation-duration: .5s;
  animation-name: apparition;
}

.chrono{
  padding: 5px;
  margin: 25px;
  margin-bottom: 100px;
  border-radius: 5px;
  font-family: 'Paytone One';
  color: white;
  font-size: 35px;
  box-shadow: 0px 0 9px 0px #1656bd;
  width: 230px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.displayRandomL > span{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}

.ctn-popin{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: #000000c4;
}

.ctn-empileur{
  width: 1000px;
  height: 680px;
  backdrop-filter: blur(14px);
  display: flex;
  justify-content: flex-end;
  background: rgba(255, 255, 255, 0.31);
}

.ctn-back-logo{
  width: 1000px;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  background: #ffffff1f;
  height: 680px;
  transition: all .7s;
  -webkit-transition: all .7s;
  -moz-transition: all .7s;
  -ms-transition: all .7s;
  -o-transition: all .7s;
  display: flex;
  justify-content: flex-end;
}

.z-index-2{
  z-index: 2;
  font-family: 'Paytone One';
}

.back-logo{
  left: 50%;
  top: 50%;
  width: 500px;
  height: 500px;
  opacity: 0.2;
  z-index: 1;
  background-image: url(./img/logo-mG.svg);
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.cube{
  width: 80px;
  height: 80px;
  border: solid 4px #ffffff82;
  z-index: 10;
  background: #3879e2;
  background-repeat: no-repeat;
  background-position: center;
}

.ctn-score{
  font-family: 'Paytone One', sans-serif;
  background: linear-gradient(180deg, #8BECFF 0%, #9200FF 168.42%);
  width: 500px;
  overflow: hidden;
  min-width: 250px;
  user-select: none;
  height: 500px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.stopwatch__display{
  width: 70%;
  margin: auto;
}

.ctn-popin > div{
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  top: 50%;
}

.gold-cible{
  background-color: rgb(95, 185, 11);
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  -o-border-radius: 50%;
}

.recordCible{
  color: #3879e2;
  font-family: 'Paytone One', sans-serif;
  margin: 20px;
  font-size: 30px;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: white;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.malus-cible{
  background-color: rgb(185, 37, 11);
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  -o-border-radius: 50%;
}

.cible1{
  background-color: rgb(15, 102, 233);
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-around;
  -o-border-radius: 50%;
}
.cible1 > div{
  background-color: red;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.cible1 > div > div{
  background-color: rgb(218, 231, 26);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.ctn-back-transition{
display: flex;
align-content: space-between;
height: 100vh;
width: 100%;
left: 0;
top: 0;
align-items: center;
background: #011638;
overflow: hidden;

}

.loader{
  width: 100%;
  height: 10px;
  background-color: #34d3ab;
}

.load{
width: 260px;
height: 12px;
left: 0;
top: 0;
transition: left 1s;
background: #3879E2;
position: absolute;
}
.load-2{
background: #89d9ff;
}
h2{
position: absolute;
white-space: nowrap;
}
.ctn-transition{
z-index: 50;
position: relative;
width:200%;
height:200px;
background-color: #ececec36;
display: flex;
color: white;
text-transform: uppercase;
font-size: 50px;
font-weight: bold;
align-items: center;
justify-content: space-around;
}

.chrono-right{
  position: absolute!important;
  top: 0!important;
  right: 0!important;
}

.cubeMoove{
  animation-name: cube;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(5, end);
}

.back-bg{

}

.moove-right{
  right: -30%;
}

.moove-left{
  left: -30%;
}

@keyframes slidein {
from {
transform: rotate3d(13, 5, 0, 
10deg);
}

to {
transform: rotate3d(13, 5, 0, 
360deg);
}
}

@keyframes toaster {
  from {
    margin-top: -40px;
    opacity: 0;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes apparition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes largeur {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes cube {
  from{ 
    margin-right: 400px
  }
  50%{
    margin-right: 0;
  }
  to{ 
    margin-right: -480px
  }
}

@keyframes rotate_back{
  100% {
    transform: rotate(
      -1turn
    );
  }
}

@keyframes blob_four{
  100% {
      transform: rotate(-1turn) translate(-12.5%,-12.5%);
      -webkit-transform: rotate(-1turn) translate(-12.5%,-12.5%);
      -moz-transform: rotate(-1turn) translate(-12.5%,-12.5%);
      -ms-transform: rotate(-1turn) translate(-12.5%,-12.5%);
      -o-transform: rotate(-1turn) translate(-12.5%,-12.5%);
  }
}

@keyframes blob_three{
  100% {
    transform: rotate(-1turn) translate(-12.5%,12.5%);
    -webkit-transform: rotate(-1turn) translate(-12.5%,12.5%);
    -moz-transform: rotate(-1turn) translate(-12.5%,12.5%);
    -ms-transform: rotate(-1turn) translate(-12.5%,12.5%);
    -o-transform: rotate(-1turn) translate(-12.5%,12.5%);
  }
}

@keyframes blob_two{
  100% {
    transform: rotate(-1turn) translate(12.5%,-12.5%);
    -webkit-transform: rotate(-1turn) translate(12.5%,-12.5%);
    -moz-transform: rotate(-1turn) translate(12.5%,-12.5%);
    -ms-transform: rotate(-1turn) translate(12.5%,-12.5%);
    -o-transform: rotate(-1turn) translate(12.5%,-12.5%);
  }
}

@keyframes blob_one{
  100% {
    transform: rotate(-1turn) translate(-12.5%,-12.5%);
    -webkit-transform: rotate(-1turn) translate(-12.5%,-12.5%);
    -moz-transform: rotate(-1turn) translate(-12.5%,-12.5%);
    -ms-transform: rotate(-1turn) translate(-12.5%,-12.5%);
    -o-transform: rotate(-1turn) translate(-12.5%,-12.5%);
  }
}

.h-64{
  height: 16rem;
  transform: scale(10);
  -webkit-transform: scale(10);
  -moz-transform: scale(10);
  -ms-transform: scale(10);
  -o-transform: scale(10);
}
.w-64{
  width: 16rem;
}

svg * {
  transform-origin: 50%;
}

.gros-blob{
  position: absolute;
  right: -20%;
}

.ptit-blob{
  position: absolute;
  right: 1%;
  top: 55rem;
  transform: scale(5);
  -webkit-transform: scale(5);
  -moz-transform: scale(5);
  -ms-transform: scale(5);
  -o-transform: scale(5);
}

.ptit-blob-2{
  position: absolute;
  left: 243%;
  top: 34rem;
  transform: scale(8);
  -webkit-transform: scale(8);
  -moz-transform: scale(8);
  -ms-transform: scale(8);
  -o-transform: scale(8);
}

.little-marg{
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 45px;
}

.puzzle-bubble{
  background: radial-gradient(88.26% 88.26% at 64.77% 26.07%, #f5f0ff 0%, #c6c6c6 33.46%, #ffffff 100%);
}

.puzzle-bubble2{
  background: radial-gradient(88.26% 88.26% at 64.77% 26.07%, #ffffff 0%, #c4c4c4 33.46%, #747171 100%);
}

.ctn-corde{
  width: 10px;
  background-color: #01a6ff;
}

.ligne-corde{
  left: 50%;
  top: 20%;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ctn-touch{
  width: 60px;
  height: 60px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

.ligne-corde2{
  left: 50%;
  top: 80%;
  font-size: 20px;
  font-weight: bold;
  width: 100px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.ctn-blue-corde{
  height: 50%;
  background-color: #ff0063;
  transition: all .4s;
  width: 100%;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

#redTeam, #blueTeam{
  user-select: none;
}

/**Escalade**/
.letterRelay{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Paytone One', sans-serif;
  font-size: 22px;
}

.letterRelay2{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Paytone One', sans-serif;
  font-size: 22px;
}

.loadEscalade{
  height: 200px;
  width: 10px;
  background: #ffffff73;
  border-radius: 20px;
  right: 50px;
}

.loadEscalade > div{
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.no-transition{
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.z1{
  z-index: 1;
}

.z3{
  z-index: 3;
}

.qualifie{
  background-color: #1cd248;
}

.looserChaise{
  filter: brightness(.5);
  -webkit-filter: brightness(.5);
}

/** COURSOR CUSTOM**/
.wrapper{
  width: 600px;
  margin: 0 auto;
  font-family: 'Paytone One', sans-serif;
}

.meter {
  display: block;
  width: 566px;
  height: 310px;
  margin: 0 auto;
  stroke-linecap: round;
}

.meter-left {
  stroke-width: 10;
  stroke-dashoffset: 452;
  stroke-dasharray: 240 800;
  stroke: #FA5C7C;
  fill: none;
}

.meter-center {
  stroke-width: 10;
  stroke-dashoffset: 140;
  stroke-dasharray: 140 874;
  stroke: #CFC430;
  fill: none;
}

.meter-right {
  stroke-width: 10;
  stroke-dashoffset: -40;
  stroke-dasharray: 210 800;
  stroke: #0ACF97;
  fill: none;
}

.spanMeter{
position: absolute;
transform: translate(-50%, -50%);
left: 50%;
bottom: 10%;
}

.meter-cursor2{ stroke-width: 20; stroke-dashoffset: 140; stroke-dasharray: 0 900; stroke: white; fill: none; transition: all .4s; animation: .3s linear infinite alternate testing; -webkit-animation: .3s linear infinite alternate testing;
}

.meter-cursor{ stroke-width: 15; stroke-dashoffset: 140; stroke-dasharray: 0 900; stroke: #4b36d5; fill: none; transition: all .4s; animation: .3s linear infinite alternate testing; -webkit-transition: all .4s; -moz-transition: all .4s; -ms-transition: all .4s; -o-transition: all .4s; -webkit-animation: .3s linear infinite alternate testing;
}

.fake-loader{
  width: 400px;
  height: 10px;
  position: relative;
}

.jauge-j{
  height: 100px;
}

.fake-cursor{
  width: 10px;
  height: 10px;
  position: absolute;
  animation: .3s linear infinite alternate o100;
  -webkit-animation: .3s linear infinite alternate o100;
}

.btn-Jauge{
  width: 100px;
  top: 80%;
  height: 100px;
  font-family: 'Paytone One', sans-serif;
  z-index: 100;
  transform: translate(-50%, -50%);
  left: 50%;
  transition: all .3s;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

.ww-50{
  width: 50%;
}

.clickletter:active{
  background-color: #000000!important;
  color: white;
  transform: scale(.8);
}
.clickletter{
  transition: all .3s;
}

.hh-auto{
  height: auto;
}

@keyframes o100{
  from{
    left: 0;
  }to{
    left: 100%;
  }
  }

@keyframes testing{
from{
  stroke-dasharray: 0 730;
}to{
  stroke-dasharray: 0 1350;
}
}

.fit-cont{
  width: fit-content;
}

.justify-content-aroundd{
  justify-content: space-around;
}

.redteam, .blueteam{
  width: 100%;
}

@media only screen and (max-width: 900px) {
  .desc-jeu{
    display: none;
  }
  .ctn-leader{
    width: 100vw;
    justify-content: center;
    transform: scale(0.65);
    margin-top: 100px;
  }
  .btn-score{
    margin: 20px;
    width: auto!important;
  }
  .ctn-scoreboard{
    height: 100%;
    justify-content: flex-start;
  }
  .ctn-perso-4{
    transform: none!important;
    justify-content: start;
  }
  .ctn-autoC{
    width: 100%;
  }
  .paires{
    width: 100%;
    height: 100vh;
  }
  .paire-card{
    width: 90px;
    height: 70px;
  }
  .ctn-simon{
    transform: scale(0.7);
  }
  .speedword > div{
    width: 100%;
  }
  .redteam > input {
    font-size: 14px;
    padding-left: 6px;
    padding: 6px;
  }
  .blueteam > input {
    font-size: 14px;
    padding-left: 6px;
    padding: 6px;
  }
  .loadEscalade{
    height: 80px;
  }
  .ww-50{
    width: 90%;
  }
  .auto-progress{
    width: 90%;
  }
  .back-logo{
    background-image: none;
  }
  .trouvePersonnage{
    width: 90%;
  }
  .autoClick-btn{
    margin-bottom: 50px;
  }
  .trouveperso{
    justify-content: flex-start;
  }
  #ctnVote{
    align-items: center;
    width: 90%;
  }
  #ctnVote > form{
    width: 100%;
  }
  .toscale{
    transform: scale(0.5);
  }
  .label-celebrite{
    max-width: 90%;
  }
  .bg-desc-tuto{
    font-size: 16px;
  }
  .card-celebrite{
    max-width: 100%;
  }
  .back-tuto > div{
    width: 90%;
  }
  .ctn-tuto{
    max-width: 100%;
  }
  .ctn-aff-bac > input[type="text"]{
    font-size: 13px;
    padding-left: 10px;
    margin: 10px;
  }
  .pseudo-bac{
    font-size: 13px;
  }
  .card-celebrite-tab{
    width: 140px;
    font-size: 11px;
  }
  .ctn-autoC{
    height: var(--height100)!important;
  }
  .ctn-empileur{
    width: 100%;
    overflow: hidden;
    height: var(--height100);
  }
  .nom-j{
    width: 120px;
  }
  .nom-j > span{
    font-size: 13px;
  }
  .chrono{
    margin: auto;
    margin-top: 15px;
  }
  .points{
    font-size: 12px;
    width: 30%;
  }
  .ctn-score{
    width: 290px;
  }
  .chrono-right{
    width: 100%;
  }
  .ctn-creLobby{
    height: var(--height100);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .ctn-creLobby > form {
    width: 100%;
    height: inherit;
  }
  .skin{
    width: 300px;
  }
  .ctn-lobby{
    height: var(--height100);
    width: 100%;
  }
  .ctn-liste-de-jeu{
    overflow: hidden;
    width: 100%;
    height: 64%;
  }
  .room-ctn{
    width: 133.33%;
    transform: scale(0.75);
  }
  .lockGroupe{
    right: 5px;
    left: auto;
    top: 25px;
  }
  .ctn-search-jeu{
    width: 100%;
    height: 100%;
  }
  .ctn-jeux{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding-bottom: 30px;
    justify-content: space-around;
  }
  .card-game{
    margin: 0;
    margin-top: 10px;
  }
  .desc-hover{
    width: 100%;
  }
  .back-tuto{
    width: 100vw;
  }
  #infoBubble{
    bottom: 15px;
    right: 15px;
    top: auto;
  }
  .guestSend{
    right: 7px;
    top: 13px;
  }
  .room-name{
    font-size: 24px;
  }
}